#wrapper{
  display: grid;
  grid-template-columns: repeat(2, auto);
}

/* BOX ESQUERDA */
#boxLeft{
  width: 270px;
  height: 100vh;
  background-color: #011627;
}
.padrao{
  display: grid;
  justify-content: center;
}
#titulo{
  display: grid;
  align-items: center;
  height: 60px;
  padding: 10px;
  color: white;
  background-color: #FF0022;
}
#imgPerfil{
  display: grid;
  justify-content: center;
  margin-top: 20px;
}
#imgPerfil img{
  width: 90px;
  border-radius: 50%;
  border: 2px solid #FF0022;
}
#nomePerfil{
  font-size: 15pt;
  letter-spacing: -1px;
  text-transform: uppercase;
  color: white;
  margin: 20px 0;
}
#cargoPerfil span{
  display: grid;
  justify-content: center;
  margin: 0 0 20px 0;
}
#cargoPerfil span:nth-child(1){
  color: white;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 2px 5px;
  border: 1px solid #FF0022;
}
#cargoPerfil span:nth-child(2){
  color: white;
  text-decoration: underline;
}
/* REDE SOCIAIS */
#redeSocialPerfil{
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 15px;
}
#redeSocialPerfil a{

}
#redeSocialPerfil a img{
  width: 26px;
}
#redeSocialPerfil a img:hover{
  transform: scale(1.2);
}
/* BTN */
#btnPerfil{
  margin: 20px 0;
}
#btnPerfil a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px;
  background-color: #FF0022;
  border-radius: 5px;
}



/* BOX DIREITA */
#boxRight{
  width: calc(100vw - 270px);
  height: 100vh;
  background-color: #0295A5;
  position: relative;
}
